/* Background color*/

body {
    background-color: #F5F4EE;
}


/*Search bar header*/

.youtube-logo {
    margin-right: 85px;
}

.navigation-bar {
    align-items: flex-start;
    background-color: white;
    display: flex;
    height: auto;
    margin: 0 20% 0 20%;
    max-width: 80%;
}

.search_bar {
    align-self: center;
    border: 1px solid gray;
    height: 20px;
    width: 250px;
}

.search_button {
    align-self: center;
    border: 1px solid #cfcfcf;
    height: 22px;
    width: 25px;
}

.upload_icon {
    height: 25px;
    margin: 0 18px 0 200px;
    max-width: 25%;
}

.button_sign {
    background-color: rgb(0, 94, 218);
    border: 1px solid rgb(0, 94, 218);
    color: white;
    cursor: pointer;
    font-family: arial;
    font-size: .7vw;
    max-height: 100%;
    max-width: 100%;
    padding: 10px 15px;
    text-align: center;
}


/*Spacing classes*/

.spacing {
    margin-left: 10px;
}

.margin {
    margin: 12px 20% 0 20%;
    width: 80%;
}


/*warning language alert*/

p {
    font-family: arial;
    font-size: 13px;
    padding: 0;
    margin: 0;
    max-width: 72%;
}

.top {
    background-color: rgb(22, 122, 218);
    border: 2px solid rgb(22, 122, 218);
    color: white;
    margin: 0;
    padding: 10px;
}

.botton {
    background-color: white;
    border: 2px solid rgb(22, 122, 218);
    padding: 10px 10px 10px 10px;
}

iframe {
    height: 315px;
    width: 560px;
}

.absolute {
    position: absolute;
}


/*Description section below*/

.channel-info {
    background-color: white;
    height: 100%;
    margin-top: 21rem;
    width: 560px;
}

.video-description {
    background-color: white;
    height: 18rem;
    width: 560px;
}

h3 {
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 15px 0 0 15px;
}

.icons {
    align-self: center;
}

.flexbox {
    align-items: flex-start;
    display: flex;
    margin: 0 0 0 10;
}

.margin_between {
    margin: 5px;
}

.suscriptor_number {
    border: 1px solid grey;
    border-left: 1px solid red;
    font-size: .8em;
    height: 15px;
    margin: 5px 0 0 0;
    padding: 2px 2px 2px 2px;
    text-align: center;
    width: 25px;
}

.suscriptor_button {
    background-color: red;
    border: 2px solid red;
    margin-top: 5px;
    background-color: red;
}

.white_icon {
    height: 10px;
    margin: 2px 2px 0 2px;
    width: 15px;
}

.views {
    border-bottom: 2px solid rgb(22, 122, 218);
    font-size: 1rem;
    height: 1.5em;
    margin-left: 15rem;
}

.small_icons {
    height: 20px;
    width: 22px;
}

.small_icons_square {
    height: 20px;
    width: 20px;
}

.aling {
    align-self: center;
    margin: 0 20px 0 5px;
}

.alingthumbs {
    justify-self: center;
    margin: 0 0 0 5px;
}

.noleftmargin {
    margin: 0 22px 0 0;
}

.gray_border_top {
    border-top: 2px solid #cecaca77;
    padding: 5px;
}

.thumbs {
    margin-left: 10rem;
}

h5 {
    font-family: arial;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    padding: 15px 15px 0 15px;
    text-align: justify;
}

.flex {
    display: flex;
}

.recomended-videos {
    background-color: white;
    font-weight: 600;
    margin-left: 1em;
    width: 26%;
}

h6 {
    color: #767676;
    font-family: Arial;
    font-weight: normal;
    margin-left: 5px;
}

.recomended-videos p {
    padding: 5px;
    width: 100%;
}

.videos-spacing {
    margin-bottom: 1em;
}

* {
    margin: 0;
}